#logo-na-firma {
  visibility: hidden;
}

@media print {
  body {
    visibility: hidden;
  }
  #print-area * {
    visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

@page {
  size: auto;
  margin: 20px;
}
